<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <%= JSON.stringify(results) %>
        <!--
        <ul>
            <% results.forEach(function(result) { %>
                <li>
                    _
                    <strong>
                        <%= result.name %>
                            <%= result.team %>
                                <%= result.pointsPerGame %>
                    </strong>
                    _
                </li>
                <% }); %>
        </ul>>
    -->
</body>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</html>